In [3]:
pwd

u'/Users/AmyCarVi/Google Drive/ipynb'

In [8]:
cd /Users/AmyCarVi/Google Drive/CSVs/CarviCSV

/Users/AmyCarVi/Google Drive/CSVs/CarviCSV

In [9]:
ls

Icon?           departures.csv  miles.csv       periods.csv
collisions.csv  fronts.csv      motions.csv     suddens.csv

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# periods

In [31]:
from os import listdir 

for file in listdir("/Users/AmyCarVi/Google Drive/CSVs/CarviCSV"):
    if  "periods" in file:
        #print periods.shape
        #periods.head()
        #periods.tail()
        #periods.loc[len(periods)]=[128950, "carvi03", 0.5, 0.3, "N"]
        print periods[periods.duplicated(subset="period_id",keep=False)]#return rows where there are duplicate period_id
        print periods[periods['mileage']<0]# mileage >=0, return rows where false
        print periods[periods['collision_mileage']<0]# collision_mileage >=0, return rows where false
        print periods[~(periods["mileage"] >= periods["collision_mileage"])] #mileage >= collision_milleage, return rows where false
        print periods[~(periods['open'].isin(['Y','N']))] # open is in ['Y','N'], return rows where false
    elif  "miles" in file:
        # print miles.shape
        # miles.head()
        #miles.tail()
        print miles[miles['mileage']<0]# mileage >=0, return rows where false
        print miles[miles['collision_mileage']<0]# collision_mileage >=0, return rows where false
        print miles[~(miles["mileage"] >= miles["collision_mileage"])] #mileage >= collision_milleage, return rows where false
        print miles[~(miles['mile_id']==miles['motion_id'])] #mile_id = motion_id, return rows where false
        g = miles.groupby("period_id" ).agg({"mileage": lambda x: x.iloc[-1], "collision_mileage": lambda x: x.iloc[-1]})
        g2 = miles.groupby("period_id").agg({"mileage": lambda x: x.diff().sum(), "collision_mileage": lambda x: x.diff().sum()}) 
#         g = pd.join(g,g2, on="period_id")
#         print g
        print g[(g != g2).any(1)] #shows all period_ids and the last values where sum of differences does not equal last value
        print g2[(g != g2).any(1)] #shows same period_ids, but displays sum of differences
        #Note that these typically display when there is no starting 0.0 mileage or collision mileage for that period


# def check(filename:
#     if tablename='periods':
#         print message
#         print dataframe.head for integrity check 1
#         print message
#         print dataframe.head for integrity check 2 
#         export whole dataframe to csv

Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []
Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []
Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []
Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []
           collision_mileage    mileage
period_id
49                  1.693821   7.307499
82                  0.297483   3.536764
83                  0.347484   9.018580
725                 0.000000   0.950455
738                 0.015863   0.208770
739                30.291168  73.094185
763                 1.295010   4.153604
787                 0.909298   1.873787
788                 3.154241   4.789709
           collision_mileage    mileage
period_id
49                  0.199202   0.584281
82                  0.000000   2.951859
83                  0.050001   1.546021
725                 0.000000   0.024880
738                 0.015863   0.099110
739                30.291168  72.786162
763                 0.463058   1.161893
787                 0.909298   1.873787
788                 1.585718   2.256697
Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []
Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []
Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []
      period_id camera_id  mileage  collision_mileage open
1487       3209   ARTIK10      0.0           0.042955    N
1490       3223   ARTIK10      0.0           0.003402    N
1488       3224   ARTIK10      0.0           0.023092    N
1489       3244   ARTIK10      0.0           0.009153    N
Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []

In [10]:
periods=pd.read_csv('periods.csv').sort_values("period_id")

In [11]:
#print periods.shape
#periods.head()
#periods.tail()
#periods.loc[len(periods)]=[128950, "carvi03", 0.5, 0.3, "N"]

In [13]:
print periods[periods.duplicated(subset="period_id",keep=False)]#return rows where there are duplicate period_id
print periods[periods['mileage']<0]# mileage >=0, return rows where false
print periods[periods['collision_mileage']<0]# collision_mileage >=0, return rows where false
print periods[~(periods["mileage"] >= periods["collision_mileage"])] #mileage >= collision_milleage, return rows where false
print periods[~(periods['open'].isin(['Y','N']))] # open is in ['Y','N'], return rows where false

Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []
Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []
Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []
      period_id camera_id  mileage  collision_mileage open
1487       3209   ARTIK10      0.0           0.042955    N
1490       3223   ARTIK10      0.0           0.003402    N
1488       3224   ARTIK10      0.0           0.023092    N
1489       3244   ARTIK10      0.0           0.009153    N
Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []

# miles

In [15]:
miles= pd.read_csv('miles.csv').sort_values(['period_id','mile_id'])

In [16]:
# print miles.shape
# miles.head()
#miles.tail()

In [17]:
print miles[miles['mileage']<0]# mileage >=0, return rows where false
print miles[miles['collision_mileage']<0]# collision_mileage >=0, return rows where false
print miles[~(miles["mileage"] >= miles["collision_mileage"])] #mileage >= collision_milleage, return rows where false
print miles[~(miles['mile_id']==miles['motion_id'])] #mile_id = motion_id, return rows where false

Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []
Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []
Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []
Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []

In [57]:
g = miles.groupby("period_id" ).agg({"mileage": lambda x: x.iloc[-1], "collision_mileage": lambda x: x.iloc[-1]})
g2 = miles.groupby("period_id").agg({"mileage": lambda x: x.diff().sum(), "collision_mileage": lambda x: x.diff().sum()}) 
print g[(g != g2).any(1)] #shows all period_ids and the last values where sum of differences does not equal last value
print g2[(g != g2).any(1)] #shows same period_ids, but displays sum of differences
#Note that these typically display when there is no starting 0.0 mileage or collision mileage for that period

           collision_mileage    mileage
period_id
49                  1.693821   7.307499
82                  0.297483   3.536764
83                  0.347484   9.018580
725                 0.000000   0.950455
738                 0.015863   0.208770
739                30.291168  73.094185
763                 1.295010   4.153604
787                 0.909298   1.873787
788                 3.154241   4.789709
           collision_mileage    mileage
period_id
49                  0.199202   0.584281
82                  0.000000   2.951859
83                  0.050001   1.546021
725                 0.000000   0.024880
738                 0.015863   0.099110
739                30.291168  72.786162
763                 0.463058   1.161893
787                 0.909298   1.873787
788                 1.585718   2.256697

# periods and miles

In [18]:
#test how to use ~
# periodshead=periods.head()
# print periodshead
# mileshead=miles.head()
# print mileshead
# print periodshead[~periodshead['period_id'].isin(mileshead['period_id'])]

In [103]:
#periods_miles = pd.merge(periods, miles, how='outer', on='period_id')
# print periods_miles.shape
# periods_miles.head()
#miles_periods.tail()

In [21]:
print periods[~periods['period_id'].isin(miles['period_id'])]#all periods.period_id is in miles.period_id, return rows where false
print miles[~miles['period_id'].isin(periods['period_id'])]#all miles.period_id is in periods.period_id, return rows where false

#If periods.collision_mileage > 0, there should be >=1 row of corresponding miles data (need to check in future data if this is the rule,
#return rows where false
colmil_pos=periods[periods['collision_mileage']>0]
print colmil_pos[~colmil_pos['period_id'].isin(miles['period_id'])]
#another method
#periods[periods['collision_mileage']>0][~periods[periods['collision_mileage']>0]['period_id'].isin(miles['period_id'])]

      period_id  camera_id    mileage  collision_mileage open
1514        838  carvi9658   0.000000           0.000000    N
1515        839  carvi9658   0.000000           0.000000    N
1516        870  carvi9658   0.000000           0.000000    N
1517        871  carvi9658   0.000000           0.000000    N
1518        872  carvi9658   0.000000           0.000000    N
1519        873  carvi9658   0.000000           0.000000    N
1520        874  carvi9658   0.000000           0.000000    N
1521        875  carvi9658   0.000000           0.000000    N
1522        912  carvi9658   0.000000           0.000000    N
1523        913  carvi9658   0.000000           0.000000    N
1524        914  carvi9658   0.000000           0.000000    N
1525        925  carvi9658   0.000000           0.000000    N
1526        926  carvi9658   0.000000           0.000000    N
1527        927  carvi9658   0.000000           0.000000    N
1528        928  carvi9658   0.000000           0.000000    N
1529        929  carvi9658   0.000000           0.000000    N
892         930  carvi9658   6.384184           1.668496    N
1452        931  carvi9658   0.060720           0.058865    N
1338        932  carvi9658   0.580256           0.253321    N
1340        936  carvi9658   0.580207           0.378908    N
1022        939  carvi9658   3.524759           1.752172    N
515         960  carvi9658  34.835255           5.678554    N
480         961    carvi02  39.239308           9.732614    N
1530        962  carvi9658   0.000000           0.000000    N
1531        971  carvi9658   0.000000           0.000000    N
1383        972    carvi02   0.338664           0.053548    N
717         973  carvi9373  14.970199           2.088851    N
1532        974  carvi9658   0.000000           0.000000    N
1533        975  carvi9658   0.000000           0.000000    N
1534        976  carvi9658   0.000000           0.000000    N
...         ...        ...        ...                ...  ...
345      128993    carvi03  58.862726           6.261207    N
337      128994    carvi03  60.012761           6.261207    N
332      128995    carvi03  60.560121           6.261207    N
320      128996    carvi03  62.395020           6.261207    N
310      128997    carvi03  63.900380           6.309147    N
296      128998    carvi03  66.137008           6.755549    N
287      128999    carvi03  67.247147           7.272650    N
284      129000    carvi03  67.813676           7.463601    N
280      129001    carvi03  68.572057           7.840449    N
275      129002    carvi03  69.535231           7.990962    N
271      129003    carvi03  69.843544           8.021297    N
270      129004    carvi03  69.978800           8.031272    N
269      129005    carvi03  70.059364           8.036161    N
266      129006    carvi03  70.397806           8.051820    N
1482     129007    carvi03   0.001508           0.000000    N
1439     129008    carvi03   0.112679           0.000000    N
1384     129009    carvi03   0.338193           0.000000    N
1365     129010    carvi03   0.480689           0.000000    N
1295     129011    carvi03   0.744924           0.000000    N
1268     129012    carvi03   0.948785           0.000000    N
1219     129013    carvi03   1.212225           0.000000    N
1192     129014    carvi03   1.476770           0.020784    N
1179     129015    carvi03   1.667876           0.020784    N
1157     129016    carvi03   1.841307           0.020784    N
1128     129017    carvi03   2.061835           0.020784    N
1108     129018    carvi03   2.238129           0.020784    N
1089     129019    carvi03   2.418231           0.020784    N
1078     129020    carvi03   2.569250           0.020784    N
1075     129021    carvi03   2.636657           0.020784    N
1076     129022    carvi03   2.636657           0.020784    N

[1532 rows x 5 columns]
Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []
      period_id  camera_id    mileage  collision_mileage open
892         930  carvi9658   6.384184           1.668496    N
1452        931  carvi9658   0.060720           0.058865    N
1338        932  carvi9658   0.580256           0.253321    N
1340        936  carvi9658   0.580207           0.378908    N
1022        939  carvi9658   3.524759           1.752172    N
515         960  carvi9658  34.835255           5.678554    N
480         961    carvi02  39.239308           9.732614    N
1383        972    carvi02   0.338664           0.053548    N
717         973  carvi9373  14.970199           2.088851    N
389         980    carvi02  52.393660          27.546608    N
519         982  carvi9658  34.578890           8.788341    N
1370        984    carvi07   0.461599           0.046148    N
716         985  carvi9658  14.970279           0.778008    N
1402        993  carvi9658   0.272033           0.192629    N
1276        995  carvi9658   0.882301           0.087089    N
1168        997  carvi9373   1.746354           0.121537    N
1097        998  carvi9373   2.326628           0.123809    N
1121       1002  carvi9373   2.103465           0.256037    N
804        1006  carvi9373   9.458308           0.647676    N
1063       1008  carvi9373   2.860674           0.665249    N
935        1009  carvi9373   5.144978           0.285547    N
1131       1011  carvi9658   2.033446           0.360282    N
1064       1019    carvi07   2.848945           0.265135    N
977        1020    carvi07   4.132738           0.265135    N
956        1021    carvi07   4.734708           0.265135    N
887        1022    carvi07   6.459124           0.462632    N
864        1023    carvi07   7.042669           0.531049    N
830        1024    carvi07   8.158447           0.531049    N
811        1025    carvi07   9.057689           0.531049    N
793        1030    carvi07   9.992836           0.584882    N
...         ...        ...        ...                ...  ...
435      128986    carvi03  45.898771           5.253531    N
420      128987    carvi03  47.965270           5.355053    N
404      128988    carvi03  50.103735           5.355053    N
394      128989    carvi03  52.009493           5.450764    N
379      128990    carvi03  53.538067           5.519191    N
367      128991    carvi03  55.684108           5.828630    N
356      128992    carvi03  57.270407           6.220151    N
345      128993    carvi03  58.862726           6.261207    N
337      128994    carvi03  60.012761           6.261207    N
332      128995    carvi03  60.560121           6.261207    N
320      128996    carvi03  62.395020           6.261207    N
310      128997    carvi03  63.900380           6.309147    N
296      128998    carvi03  66.137008           6.755549    N
287      128999    carvi03  67.247147           7.272650    N
284      129000    carvi03  67.813676           7.463601    N
280      129001    carvi03  68.572057           7.840449    N
275      129002    carvi03  69.535231           7.990962    N
271      129003    carvi03  69.843544           8.021297    N
270      129004    carvi03  69.978800           8.031272    N
269      129005    carvi03  70.059364           8.036161    N
266      129006    carvi03  70.397806           8.051820    N
1192     129014    carvi03   1.476770           0.020784    N
1179     129015    carvi03   1.667876           0.020784    N
1157     129016    carvi03   1.841307           0.020784    N
1128     129017    carvi03   2.061835           0.020784    N
1108     129018    carvi03   2.238129           0.020784    N
1089     129019    carvi03   2.418231           0.020784    N
1078     129020    carvi03   2.569250           0.020784    N
1075     129021    carvi03   2.636657           0.020784    N
1076     129022    carvi03   2.636657           0.020784    N

[1357 rows x 5 columns]

# motions

In [22]:
motions=pd.read_csv("motions.csv").sort_values('motion_id')

In [23]:
# print motions.shape
#motions.head()
# motions.tail()

In [25]:
print motions[motions['speed']<0]# speed >=0, return rows where false
print motions[~(motions['bias'].isin(range(-5,6,1)))] # -5>bias>5, return rows where false
print motions[motions['front_speed']<0]# front_speed >=0, return rows where false
print motions[motions['front_distance']<0]# front_distance >=0, return rows where false

print motions[~(motions['event'].isin([1,4,5,6,7,100,900]))] # event is in [1,4,5,6,7,100,900], return rows where false 
# Once algorithms for 2 and 3 are implemented, include them in the list

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []
Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []
Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []
Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []
Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

# periods and motions

In [26]:
#periods_motions=pd.merge(periods, motions, how='inner', on='period_id')

In [27]:
print periods[~periods['period_id'].isin(motions['period_id'])]#check if all periods.period_id is in motions.period_id
print motions[~motions['period_id'].isin(periods['period_id'])]#all motions.period_id is in periods.period_id, return rows where false

      period_id  camera_id  mileage  collision_mileage open
1514        838  carvi9658      0.0                0.0    N
1515        839  carvi9658      0.0                0.0    N
1516        870  carvi9658      0.0                0.0    N
1517        871  carvi9658      0.0                0.0    N
1518        872  carvi9658      0.0                0.0    N
1519        873  carvi9658      0.0                0.0    N
1520        874  carvi9658      0.0                0.0    N
1522        912  carvi9658      0.0                0.0    N
1523        913  carvi9658      0.0                0.0    N
1524        914  carvi9658      0.0                0.0    N
1525        925  carvi9658      0.0                0.0    N
1526        926  carvi9658      0.0                0.0    N
1527        927  carvi9658      0.0                0.0    N
1528        928  carvi9658      0.0                0.0    N
1529        929  carvi9658      0.0                0.0    N
Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

# miles and motions

In [31]:
# miles_motions=pd.merge(miles, motions, how='inner', on=['period_id','motion_id'])
# print miles_motions.shape
# miles_motions.head()
# miles_motions.tail()

In [28]:
print motions[~motions['period_id'].isin(miles['period_id'])]#all motions.period_id is in miles.period_id, return rows where false
print miles[~miles['period_id'].isin(motions['period_id'])]#all miles.period_id is in motions.period_id, return rows where false

       motion_id  period_id           time_stamp  speed  bias  front_speed  \
9731       11783        875  2015-09-09 10:48:22      0     0            0
9730       11784        875  2015-09-09 10:49:22      0     0            0
65653      12149        930  2015-09-09 19:59:50     35     0           36
65652      12150        930  2015-09-09 19:59:59     35     0           36
9729       12151        930  2015-09-09 20:00:04     35     0           36
65651      12152        930  2015-09-09 20:00:04     35     0           36
35614      12153        930  2015-09-09 20:00:05     35     0           36
9728       12154        930  2015-09-09 20:01:04     35     3           36
35613      12155        930  2015-09-09 20:01:35     35     3           36
35612      12156        930  2015-09-09 20:01:48     35     3           36
35611      12157        930  2015-09-09 20:01:59     35     3           36
9727       12158        930  2015-09-09 20:02:04     35     3           36
65650      12159        930  2015-09-09 20:02:08     35     3           36
42375      12160        930  2015-09-09 20:02:12     35     3           35
9726       12161        930  2015-09-09 20:03:04     35     3           35
65649      12162        930  2015-09-09 20:03:14     35     3           35
65648      12163        930  2015-09-09 20:03:17     35     3           35
65647      12164        930  2015-09-09 20:03:23     35     3           35
65646      12165        930  2015-09-09 20:03:43     35     3           34
42374      12166        930  2015-09-09 20:03:48     35     3           34
35610      12167        930  2015-09-09 20:03:59     35     3           34
35609      12168        930  2015-09-09 20:04:00     35     3           34
9725       12169        930  2015-09-09 20:04:04     35     3           34
65645      12170        930  2015-09-09 20:04:33     35     3           34
65644      12171        930  2015-09-09 20:04:41     35     3           34
9724       12172        930  2015-09-09 20:05:04     35     3           34
42373      12173        930  2015-09-09 20:05:36     35     3           34
9723       12174        930  2015-09-09 20:06:04     35     3           34
9722       12175        930  2015-09-09 20:07:04     35     3           34
35608      12176        930  2015-09-09 20:07:35     35     3           34
...          ...        ...                  ...    ...   ...          ...
9994       77980     129020  2016-05-25 11:45:38      2     0            8
9993       77981     129020  2016-05-25 11:45:40      4     0            8
9992       77982     129020  2016-05-25 11:45:43      3     0            8
9991       77983     129020  2016-05-25 11:45:44      3     0            8
42460      77984     129020  2016-05-25 11:45:46      9     0            8
1          77985     129020  2016-05-25 11:45:46      9     0            8
42459      77986     129020  2016-05-25 11:45:49     12     0            8
9990       77987     129020  2016-05-25 11:45:59      6     0            9
9989       77988     129020  2016-05-25 11:46:03      3     0            9
9988       77989     129020  2016-05-25 11:46:06      5     0            9
9987       77990     129021  2016-05-25 11:46:28      0     0            9
9986       77991     129021  2016-05-25 11:46:32      1     0            9
9985       77992     129021  2016-05-25 11:46:34      1     0            9
9984       77993     129021  2016-05-25 11:46:38      0     0            9
9983       77994     129021  2016-05-25 11:46:40      1     0            9
9982       77995     129021  2016-05-25 11:46:41      0     0            9
0          77996     129021  2016-05-25 11:46:46      1     0            9
9981       77997     129021  2016-05-25 11:46:53      0     0            9
9980       77998     129021  2016-05-25 11:46:54      0     0            9
9979       77999     129021  2016-05-25 11:46:56      0     0            9
9978       78000     129021  2016-05-25 11:46:58      1     0            9
9977       78001     129021  2016-05-25 11:47:00      0     0            9
9976       78002     129021  2016-05-25 11:47:05      0     0            9
9975       78003     129021  2016-05-25 11:47:07      0     0            9
9974       78004     129022  2016-05-25 11:47:09      0     0            9
9973       78005     129022  2016-05-25 11:47:10      0     0            9
9972       78006     129022  2016-05-25 11:47:12      0     0            9
9971       78007     129022  2016-05-25 11:47:13      0     0            9
9970       78008     129022  2016-05-25 11:47:15      0     0            9
9969       78009     129022  2016-05-25 11:47:17      0     0            9

       front_distance  event
9731                0      1
9730                0      1
65653              68      7
65652              68      7
9729               67      1
65651              67      7
35614              67      4
9728               67      1
35613              67      4
35612              67      4
35611              67      4
9727               67      1
65650              67      7
42375              66      5
9726               58      1
65649              59      7
65648              62      7
65647              64      7
65646              61      7
42374              57      5
35610              53      4
35609              53      4
9725               53      1
65645              60      7
65644              71      7
9724               71      1
42373              66      5
9723               39      1
9722               19      1
35608              16      4
...               ...    ...
9994               40      4
9993               40      4
9992               40      4
9991               40      4
42460              40      6
1                  40      1
42459              40      6
9990               40      4
9989               40      4
9988               40      4
9987               40      4
9986               40      4
9985               40      4
9984               40      4
9983               40      4
9982               40      4
0                  40      1
9981               40      4
9980               40      4
9979               40      4
9978               40      4
9977               40      4
9976               40      4
9975               40      4
9974               40      4
9973               40      4
9972               40      4
9971               40      4
9970               40      4
9969               40      4

[65140 rows x 8 columns]
Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []

# collisions

In [33]:
collisions=pd.read_csv('collisions.csv').sort_values(['motion_id','collision_id'])

In [34]:
print collisions.shape
collisions.head()
#collisions.tail()

(6595, 4)

     collision_id  motion_id  reaction  reduction_speed
183            32        447       1.0                0
184            33        448       1.0                0
185            34        473       1.0                0
186            35        520       1.0                0
187            36        521       1.0                0

In [179]:
collisions[collisions['reduction_speed']<0]# reduction_speed >=0, return rows where false

Empty DataFrame
Columns: [collision_id, motion_id, reaction, reduction_speed]
Index: []

In [35]:
collisions[~(collisions['reaction'].isin([1,2,3]))] # reaction is in [1,2,3], return rows where false

     collision_id  motion_id  reaction  reduction_speed
0            1457      18319       NaN                0
1            1458      18320       NaN                0
2            1461      18327       NaN                0
3            1462      18328       NaN                0
4            1463      18332       NaN                0
5            1464      18333       NaN                0
6            1465      18334       NaN                0
7            1466      18335       NaN                0
8            1467      18337       NaN                0
9            1468      18338       NaN                0
10           1469      18339       NaN                0
11           1471      18353       NaN                0
12           1472      18356       NaN                0
13           1473      18360       NaN                0
14           1474      18361       NaN                0
15           1475      18362       NaN                0
16           1476      18365       NaN                0
17           1477      18366       NaN                0
18           1479      18373       NaN                0
19           1480      18374       NaN                0
20           1481      18376       NaN                0
21           1482      18378       NaN                0
22           1483      18379       NaN                0
23           1484      18380       NaN                0
24           1485      18382       NaN                0
25           1486      18383       NaN                0
26           1489      18387       NaN                0
27           1490      18392       NaN                0
28           1492      18396       NaN                0
29           1493      18397       NaN                0
..            ...        ...       ...              ...
153          1629      18630       NaN                0
154          1630      18631       NaN                0
155          1631      18632       NaN                0
156          1632      18633       NaN                0
157          1633      18634       NaN                0
158          1634      18635       NaN                0
159          1635      18636       NaN                0
160          1636      18637       NaN                0
161          1637      18638       NaN                0
162          1638      18639       NaN                0
163          1639      18641       NaN                0
164          1640      18642       NaN                0
165          1641      18643       NaN                0
166          1642      18644       NaN                0
167          1643      18645       NaN                0
168          1646      18651       NaN                0
169          1647      18652       NaN                0
170          1648      18653       NaN                0
171          1649      18657       NaN                0
172          1650      18658       NaN                0
173          1651      18660       NaN                0
174          1652      18661       NaN                0
175          1655      18665       NaN                0
176          1656      18666       NaN                0
177          1657      18668       NaN                0
178          1658      18669       NaN                0
179          1659      18670       NaN                0
180          1660      18671       NaN                0
181          1661      18673       NaN                0
182          1662      18674       NaN                0

[183 rows x 4 columns]

In [99]:
# return rows where collision.reaction=2 (reduce speed after warning) but collision.reduction_speed <0
collisions[(collisions['reaction']==2)& (collisions['reduction_speed']<0)]

Empty DataFrame
Columns: [collision_id, motion_id, reaction, reduction_speed]
Index: []

# departures

In [36]:
departures=pd.read_csv('departures.csv').sort_values(['motion_id', 'departure_id'])

In [37]:
print departures.shape
departures.head()
#departures.tail()

(25896, 5)

   departure_id  motion_id  lane_kind  reaction  direction
0           161        452          1         1        1.0
1           162        474          1         1        1.0
2           163        488          1         1        1.0
3           164        494          1         1        2.0
4           165        502          1         1        2.0

In [38]:
departures[~(departures['lane_kind'].isin([1]))] # lane_kind is in [1], return rows where false
# Once algorithms for 2 and 3 are implemented, include them in the list

Empty DataFrame
Columns: [departure_id, motion_id, lane_kind, reaction, direction]
Index: []

In [39]:
departures[~(departures['reaction'].isin([1]))] # reaction is in [1], return rows where false
# Once the algorithm for 2 is implemented, include it in the list

Empty DataFrame
Columns: [departure_id, motion_id, lane_kind, reaction, direction]
Index: []

In [40]:
departures[~(departures['direction'].isin([1,2]))] # direction is in [1,2], return rows where false

      departure_id  motion_id  lane_kind  reaction  direction
1044          5672      14861          1         1        NaN
2168          6796      17710          1         1        NaN
2176          6804      17735          1         1        NaN
2287          6915      18321          1         1        NaN
2288          6916      18329          1         1        NaN
2289          6917      18342          1         1        NaN
2290          6918      18345          1         1        NaN
2291          6919      18347          1         1        NaN
2292          6920      18350          1         1        NaN
2293          6921      18367          1         1        NaN
2294          6922      18370          1         1        NaN
2298          6926      18388          1         1        NaN
2300          6928      18393          1         1        NaN
2302          6930      18415          1         1        NaN
2304          6932      18426          1         1        NaN
2305          6933      18432          1         1        NaN
2306          6934      18435          1         1        NaN
2307          6935      18438          1         1        NaN
2310          6938      18461          1         1        NaN
2311          6939      18464          1         1        NaN
2312          6940      18473          1         1        NaN
2314          6942      18487          1         1        NaN
2316          6944      18502          1         1        NaN
2317          6945      18508          1         1        NaN
2331          6959      18582          1         1        NaN
2332          6960      18584          1         1        NaN
2381          7009      18907          1         1        NaN
2534          7162      19391          1         1        NaN
4721          9349      25453          1         1        NaN
5381         10009      28591          1         1        NaN

# fronts

In [41]:
fronts=pd.read_csv('fronts.csv').sort_values(['motion_id','front_id'])

In [42]:
print fronts.shape
#fronts.head()
fronts.tail()

(22417, 4)

     front_id  motion_id  situation  front_reduction_speed
203     23453      77854        1.0                      5
204     23454      77880        1.0                      4
205     23455      77956        1.0                      6
206     23456      77961        1.0                      8
207     23457      77977        1.0                      4

In [43]:
fronts[~(fronts['situation'].isin([1,2]))] # check for situation = [1]. 
# Once the algorithm for 2 is implemented, include it in the list
# Note that this was a more recent addition, so most are missing values

       front_id  motion_id  situation  front_reduction_speed
208         467       9740        NaN                     15
209         468       9741        NaN                     17
210         469       9744        NaN                     16
211         470       9745        NaN                     16
212         471       9746        NaN                     16
213         472       9751        NaN                     15
214         473       9764        NaN                     16
215         474       9768        NaN                     26
216         475       9769        NaN                     24
217         476       9770        NaN                     23
218         477       9820        NaN                     19
219         478       9822        NaN                     33
220         479       9825        NaN                     15
221         480       9827        NaN                     25
222         481       9828        NaN                     23
223         482       9829        NaN                     16
224         483       9830        NaN                     15
225         484       9831        NaN                     22
226         485       9834        NaN                     23
227         486       9843        NaN                     18
228         487       9853        NaN                     21
229         488       9878        NaN                     27
230         489       9887        NaN                     15
231         490       9910        NaN                     21
232         491       9912        NaN                     50
233         492       9913        NaN                     21
234         493       9914        NaN                     50
235         494       9915        NaN                     18
236         495       9932        NaN                     26
237         794      12149        NaN                     29
...         ...        ...        ...                    ...
22387     23220      76613        NaN                     20
22388     23221      76623        NaN                     25
22389     23222      76635        NaN                     16
22390     23223      76636        NaN                     26
22391     23224      76637        NaN                     36
22392     23225      76650        NaN                     17
22393     23226      76651        NaN                     16
22394     23227      76656        NaN                     15
22395     23228      76664        NaN                     16
22396     23229      76666        NaN                     36
22397     23230      76669        NaN                     15
22398     23231      76670        NaN                     16
22399     23232      76671        NaN                     17
22400     23233      76674        NaN                     16
22401     23234      76679        NaN                     35
22402     23235      76680        NaN                     15
22403     23236      76698        NaN                     16
22404     23237      76717        NaN                     16
22405     23238      76720        NaN                     15
22406     23239      76726        NaN                     15
22407     23240      76742        NaN                     15
22408     23241      76744        NaN                     40
22409     23242      76749        NaN                     18
22410     23243      76753        NaN                     17
22411     23244      76754        NaN                     21
22412     23245      76756        NaN                     15
22413     23246      76758        NaN                     15
22414     23247      76759        NaN                     17
22415     23248      76762        NaN                     15
22416     23249      76766        NaN                     15

[22209 rows x 4 columns]

In [180]:
fronts[fronts['front_reduction_speed']<0]# front_reduction_speed >=0, return rows where false

Empty DataFrame
Columns: [front_id, motion_id, situation, front_reduction_speed]
Index: []

# suddens

In [44]:
suddens=pd.read_csv('suddens.csv').sort_values(['motion_id', 'sudden_id'])

In [45]:
print suddens.shape
suddens.head()
#suddens.tail()

(807, 4)

     sudden_id  motion_id  situation  front_reason
545         50        436        3.0             0
592         51        437        3.0             0
580         52        438        3.0             0
579         53        439        3.0             0
578         54        440        3.0             0

In [46]:
suddens[~(suddens['situation'].isin([1,3]))]# situation is in [1,3], return rows where false
# Once the algorithm for 2 is implemented, include it in the list

    sudden_id  motion_id  situation  front_reason
48         62        453        NaN             0
18         98        515        NaN             0
30        127        558        NaN             0
57        202        725        NaN             0
58        203        726        NaN             0
49        219       5378        NaN             0
46        225       7168        NaN             0
53        558       9534        NaN             0
55        604      13348        NaN             0
54        613      13372        NaN             0
50        621      13455        NaN             0
43        626      13481        NaN             0
59        653      14300        NaN             0
61        655      14305        NaN             0
0         661      14316        NaN             1
20        675      14375        NaN             0
13        705      14512        NaN             0
36        722      15367        NaN             0
7         755      15471        NaN             1
31        761      15500        NaN             0
32        763      15503        NaN             0
15        781      15625        NaN             0
16        782      15633        NaN             0
19        786      15642        NaN             0
6         804      15753        NaN             1
3         861      17950        NaN             1
47        867      17961        NaN             0
56        884      18012        NaN             0
45        888      18016        NaN             0
44        889      18017        NaN             0
..        ...        ...        ...           ...
14        944      18159        NaN             0
23        948      18172        NaN             0
37        949      18173        NaN             0
27        970      18739        NaN             0
38        978      18786        NaN             0
24        979      18787        NaN             0
25        980      18789        NaN             0
26        981      18790        NaN             0
28        982      18791        NaN             0
35        989      18826        NaN             0
22        997      18917        NaN             0
11        999      18925        NaN             0
21       1013      18966        NaN             0
51       1073      19340        NaN             0
52       1074      19342        NaN             0
60       1090      19658        NaN             0
12       1122      19740        NaN             0
29       1148      19984        NaN             0
8        1159      20019        NaN             1
33       1165      20029        NaN             0
34       1166      20030        NaN             0
2        1171      20041        NaN             1
17       1178      20061        NaN             0
5        1184      77202        NaN             1
9        1187      77294        NaN             1
39       1188      77295        NaN             0
62       1198      77475        NaN             0
41       1200      77612        NaN             0
4        1204      77818        NaN             1
1        1205      77822        NaN             1

[64 rows x 4 columns]

In [47]:
suddens[~(suddens['front_reason'].isin([0,1]))]# front_reason is in [0,1], return rows where false

Empty DataFrame
Columns: [sudden_id, motion_id, situation, front_reason]
Index: []

In [149]:
# when motions.event=5 there should be a corresponding row in collisions table with same motion_id, return motions rows where false
event5=motions[motions['event']==5]
event5[~event5['motion_id'].isin(collisions['motion_id'])]

#another method
#motions[motions['event']==5][~motions[motions['event']==5]['motion_id'].isin(~collisions['motion_id'])]

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [150]:
collisions[~collisions['motion_id'].isin(motions['motion_id'])]#all collisions.motion_id is in motions.motion_id, return rows where false

Empty DataFrame
Columns: [collision_id, motion_id, reaction, reduction_speed]
Index: []

# motions and departures

In [151]:
# when motions.event=4 there should be a corresponding row in departures table with same motion_id, return motions rows where false
event4=motions[motions['event']==4]
event4[~event4['motion_id'].isin(departures['motion_id'])]

#another method
#motions[motions['event']==4][~motions[motions['event']==4]["motion_id"].isin(departures['motion_id'])]

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [152]:
departures[~departures['motion_id'].isin(motions['motion_id'])]#all departures.motion_id is in motions.motion_id, return rows where false

Empty DataFrame
Columns: [departure_id, motion_id, lane_kind, reaction, direction]
Index: []

# motions and fronts

In [154]:
# when motions.event=7 there should be a corresponding row in fronts table with same motion_id, return motions rows where false
event7=motions[motions['event']==7]
event7[~event7['motion_id'].isin(fronts['motion_id'])]

#another method
#motions[motions['event']==7][~motions[motions['event']==7]["motion_id"].isin(fronts['motion_id'])]

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [53]:
fronts[~fronts['motion_id'].isin(motions['motion_id'])]#check if all fronts.motion_id is in motions.motion_id

Empty DataFrame
Columns: [front_id, motion_id, situation, front_reduction_speed]
Index: []

# motions and suddens

In [155]:
# when motions.event=6 there should be a corresponding row in suddens table with same motion_id, return motions rows where false
event6=motions[motions['event']==6]
event6[~event6['motion_id'].isin(suddens['motion_id'])]

#another method
#motions[motions['event']==6][motions[motions['event']==6]["motion_id"].isin(suddens['motion_id'])]

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [55]:
suddens[~suddens['motion_id'].isin(motions['motion_id'])]#check if all suddens.motion_id is in motions.motion_id

Empty DataFrame
Columns: [sudden_id, motion_id, situation, front_reason]
Index: []

In [87]:
motions_suddens=pd.merge(motions,suddens, how='inner', on='motion_id')

In [88]:
print motions_suddens.shape
motions_suddens.head()
#motions_suddens.tail()

(807, 11)

,motion_id,period_id,time_stamp,speed,bias,front_speed,front_distance,event,sudden_id,situation,front_reason
0,436,39,2015-08-19 09:33:29,6,0,0,0,6,50,3.0,0
1,437,39,2015-08-19 09:33:30,11,0,0,0,6,51,3.0,0
2,438,39,2015-08-19 09:33:31,16,0,0,0,6,52,3.0,0
3,439,39,2015-08-19 09:33:32,21,0,0,0,6,53,3.0,0
4,440,39,2015-08-19 09:33:33,25,0,0,0,6,54,3.0,0

In [100]:
motions_suddens['speed_diff']=motions_suddens.groupby('period_id')['speed'].diff()# add col to show speed inc/dec from previous row, grouped by period_id
#motions_suddens.head()

# if suddens.situation=3 (sudden acceleration), motions.speed should be > motions.speed in previous row
# return rows where false
print len(motions_suddens[(motions_suddens['situation']==3)&(motions_suddens['speed_diff']<0)])
motions_suddens[(motions_suddens['situation']==3)&(motions_suddens['speed_diff']<0)]

76

,motion_id,period_id,time_stamp,speed,bias,front_speed,front_distance,event,sudden_id,situation,front_reason,speed_diff
11,451,40,2015-08-19 10:01:26,48,0,51,65,6,61,3.0,1,-8.0
13,454,40,2015-08-19 10:01:42,21,0,50,65,6,63,3.0,0,-15.0
16,457,40,2015-08-19 10:01:56,23,0,50,65,6,66,3.0,0,-4.0
17,459,40,2015-08-19 10:02:23,18,0,35,59,6,67,3.0,1,-5.0
20,464,40,2015-08-19 10:04:21,20,0,29,51,6,70,3.0,0,-15.0
26,471,40,2015-08-19 10:05:50,33,1,28,46,6,76,3.0,0,-5.0
29,477,40,2015-08-19 10:06:49,59,1,43,51,6,79,3.0,1,-3.0
31,479,40,2015-08-19 10:07:01,65,1,47,54,6,81,3.0,0,-1.0
33,482,40,2015-08-19 10:07:14,66,1,53,58,6,83,3.0,1,-3.0
37,486,40,2015-08-19 10:07:35,74,1,58,65,6,87,3.0,0,-3.0
39,489,40,2015-08-19 10:07:52,69,1,59,65,6,89,3.0,0,-6.0
42,492,40,2015-08-19 10:08:03,79,1,59,65,6,92,3.0,0,-2.0
45,498,40,2015-08-19 10:08:52,74,0,61,80,6,95,3.0,0,-6.0
46,503,40,2015-08-19 10:10:10,64,0,62,92,6,96,3.0,0,-10.0
49,516,40,2015-08-19 10:13:26,20,0,60,77,6,99,3.0,0,-11.0
52,523,40,2015-08-19 10:14:47,29,0,40,56,6,102,3.0,0,-3.0
55,528,41,2015-08-19 12:20:36,5,0,7,63,6,105,3.0,0,-3.0
64,538,41,2015-08-19 12:21:23,42,0,9,63,6,114,3.0,0,-1.0
84,568,43,2015-08-19 13:35:03,22,0,0,0,6,134,3.0,0,-13.0
94,586,44,2015-08-19 14:06:31,3,0,0,0,6,144,3.0,0,-2.0
100,594,45,2015-08-19 14:14:03,46,0,0,65,6,150,3.0,0,-2.0
111,612,46,2015-08-19 15:51:33,13,-5,31,52,6,161,3.0,1,-32.0
119,624,46,2015-08-19 15:53:42,13,-5,34,47,6,169,3.0,1,-25.0
126,635,47,2015-08-19 15:55:58,30,0,23,40,6,176,3.0,0,-4.0
133,649,48,2015-08-19 15:59:10,60,1,56,58,6,183,3.0,0,-9.0
136,653,48,2015-08-19 15:59:18,69,1,56,58,6,186,3.0,0,-5.0
137,657,48,2015-08-19 16:00:34,64,1,59,54,6,187,3.0,0,-5.0
138,659,48,2015-08-19 16:00:47,63,1,59,53,6,188,3.0,0,-1.0
140,668,48,2015-08-19 16:02:36,56,0,62,62,6,190,3.0,0,-13.0
148,718,57,2015-08-20 21:06:59,17,0,0,0,6,198,3.0,0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
244,14314,1006,2015-09-18 14:32:26,31,-5,4,50,6,659,3.0,0,-2.0
247,14322,1006,2015-09-18 14:36:10,10,-5,5,49,6,662,3.0,0,-12.0
251,14342,1008,2015-09-18 14:54:46,6,0,0,0,6,666,3.0,0,-4.0
253,14346,1008,2015-09-18 14:56:18,11,0,15,64,6,668,3.0,0,-1.0
256,14352,1008,2015-09-18 14:58:55,2,0,16,64,6,671,3.0,0,-21.0
259,14370,1008,2015-09-18 15:03:47,7,-5,6,55,6,674,3.0,1,-22.0
265,14403,1009,2015-09-18 15:20:17,11,0,13,53,6,680,3.0,0,-10.0
272,14462,1015,2015-09-18 22:32:00,18,0,0,0,6,687,3.0,0,-22.0
303,15361,1043,2015-09-21 11:10:10,13,0,0,0,6,718,3.0,0,-10.0
309,15369,1045,2015-09-21 22:52:20,29,0,0,0,6,724,3.0,0,-16.0
319,15382,1048,2015-09-21 22:55:02,7,-5,0,0,6,734,3.0,0,-25.0
344,15498,1070,2015-09-24 12:45:29,13,-5,12,56,6,759,3.0,0,-29.0
365,15624,1083,2015-09-29 11:58:28,74,-1,70,100,6,780,3.0,0,-1.0
370,15636,1084,2015-09-29 12:00:04,23,-1,70,97,6,785,3.0,0,-9.0
422,17782,1145,2015-10-17 10:26:15,75,-1,53,66,6,837,3.0,0,-4.0
433,17927,1162,2015-10-23 10:51:36,15,0,28,66,6,848,3.0,0,-10.0
457,17976,1167,2015-10-23 10:56:57,9,0,11,52,6,872,3.0,1,-18.0
480,18029,1174,2015-10-23 13:07:24,7,0,7,54,6,895,3.0,0,-3.0
491,18047,1176,2015-10-23 13:09:30,10,0,28,50,6,906,3.0,0,-17.0
532,18167,1474,2015-10-30 18:44:23,65,0,34,54,6,947,3.0,1,-11.0
676,19662,2201,2015-11-23 12:54:06,8,0,25,49,6,1091,3.0,0,-15.0
682,19674,2202,2015-11-23 12:54:58,16,1,25,49,6,1097,3.0,0,-37.0
691,19691,2205,2015-11-23 12:58:13,18,1,25,48,6,1106,3.0,0,-20.0
708,19741,2223,2015-11-24 14:48:06,6,-1,7,52,6,1123,3.0,0,-25.0
719,19757,2226,2015-11-24 14:51:32,10,-1,11,57,6,1134,3.0,0,-9.0
731,19935,2247,2015-12-07 14:36:37,5,-5,15,43,6,1146,3.0,1,-8.0
740,20003,2262,2015-12-08 10:35:21,20,0,11,35,6,1155,3.0,1,-4.0
759,20051,2271,2015-12-08 10:44:55,6,0,15,38,6,1174,3.0,1,-16.0
797,77902,129012,2016-05-25 11:38:07,6,0,12,40,6,1212,3.0,0,-3.0
801,77911,129013,2016-05-25 11:39:05,6,0,11,40,6,1216,3.0,0,-11.0

In [101]:
# if suddens.situation=1 (sudden stop), motions.speed should be < motions.speed in previous row
# return rows where false
print len(motions_suddens[(motions_suddens['situation']==1)&(motions_suddens['speed_diff']>0)])
motions_suddens[(motions_suddens['situation']==1)&(motions_suddens['speed_diff']>0)]

0

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event, sudden_id, situation, front_reason, speed_diff]
Index: []