In [2]:
pwd

u'/Users/AmyCarVi/Google Drive/ipynb'

In [3]:
cd /Users/AmyCarVi/Google Drive/CarviCSV

/Users/AmyCarVi/Google Drive/CarviCSV

In [42]:
ls

Icon?           departures.csv  miles.csv       periods.csv
collisions.csv  fronts.csv      motions.csv     suddens.csv

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# periods

In [66]:
periods=pd.read_csv('periods.csv').sort_values("period_id")

In [81]:
print periods.shape
periods.head()
#periods.tail()

(1604, 5)

      period_id camera_id    mileage  collision_mileage open
1491         14   carvi07   0.000000           0.000000    N
1298         39   carvi07   0.734434           0.181271    N
777          40   carvi07  11.015816           2.834652    N
1362         41   carvi07   0.485110           0.011958    N
1244         42   carvi07   1.075047           0.104140    N

In [8]:
# periods.loc[len(periods)]=[128950, "carvi03", 0.5, 0.3, "N"]

In [9]:
periods[periods.duplicated(subset="period_id",keep=False)]#return rows where there are duplicate period_id

Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []

In [10]:
# len(periods["period_id"]) == len(periods["period_id"].unique()) #unique period_id should be equal to len of rows

In [11]:
periods[~(periods["mileage"] >= periods["collision_mileage"])] #check if mileage >= collision_milleage, return rows where false

      period_id camera_id  mileage  collision_mileage open
1487       3209   ARTIK10      0.0           0.042955    N
1490       3223   ARTIK10      0.0           0.003402    N
1488       3224   ARTIK10      0.0           0.023092    N
1489       3244   ARTIK10      0.0           0.009153    N

# miles

In [52]:
miles= pd.read_csv('miles.csv').sort_values(['period_id','mile_id'])

In [80]:
print miles.shape
miles.head()
#miles.tail()

(887, 5)

     mile_id  period_id  motion_id   mileage  collision_mileage
885      102         14        102  0.000000                0.0
886      103         14        103  0.000000                0.0
874      435         39        435  0.000000                0.0
876      436         39        436  0.142865                0.0
875      437         39        437  0.144749                0.0

In [14]:
miles[~(miles["mileage"] >= miles["collision_mileage"])] #check if mileage >= collision_milleage, return rows where false

Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []

In [15]:
miles[~(miles['mile_id']==miles['motion_id'])] #check that mile_id = motion_id

Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []

# periods and miles

In [98]:
periods[~periods['period_id'].isin(miles['period_id'])]#check if all periods.period_id is in miles.period_id

      period_id  camera_id    mileage  collision_mileage open
1514        838  carvi9658   0.000000           0.000000    N
1515        839  carvi9658   0.000000           0.000000    N
1516        870  carvi9658   0.000000           0.000000    N
1517        871  carvi9658   0.000000           0.000000    N
1518        872  carvi9658   0.000000           0.000000    N
1519        873  carvi9658   0.000000           0.000000    N
1520        874  carvi9658   0.000000           0.000000    N
1521        875  carvi9658   0.000000           0.000000    N
1522        912  carvi9658   0.000000           0.000000    N
1523        913  carvi9658   0.000000           0.000000    N
1524        914  carvi9658   0.000000           0.000000    N
1525        925  carvi9658   0.000000           0.000000    N
1526        926  carvi9658   0.000000           0.000000    N
1527        927  carvi9658   0.000000           0.000000    N
1528        928  carvi9658   0.000000           0.000000    N
1529        929  carvi9658   0.000000           0.000000    N
892         930  carvi9658   6.384184           1.668496    N
1452        931  carvi9658   0.060720           0.058865    N
1338        932  carvi9658   0.580256           0.253321    N
1340        936  carvi9658   0.580207           0.378908    N
1022        939  carvi9658   3.524759           1.752172    N
515         960  carvi9658  34.835255           5.678554    N
480         961    carvi02  39.239308           9.732614    N
1530        962  carvi9658   0.000000           0.000000    N
1531        971  carvi9658   0.000000           0.000000    N
1383        972    carvi02   0.338664           0.053548    N
717         973  carvi9373  14.970199           2.088851    N
1532        974  carvi9658   0.000000           0.000000    N
1533        975  carvi9658   0.000000           0.000000    N
1534        976  carvi9658   0.000000           0.000000    N
...         ...        ...        ...                ...  ...
345      128993    carvi03  58.862726           6.261207    N
337      128994    carvi03  60.012761           6.261207    N
332      128995    carvi03  60.560121           6.261207    N
320      128996    carvi03  62.395020           6.261207    N
310      128997    carvi03  63.900380           6.309147    N
296      128998    carvi03  66.137008           6.755549    N
287      128999    carvi03  67.247147           7.272650    N
284      129000    carvi03  67.813676           7.463601    N
280      129001    carvi03  68.572057           7.840449    N
275      129002    carvi03  69.535231           7.990962    N
271      129003    carvi03  69.843544           8.021297    N
270      129004    carvi03  69.978800           8.031272    N
269      129005    carvi03  70.059364           8.036161    N
266      129006    carvi03  70.397806           8.051820    N
1482     129007    carvi03   0.001508           0.000000    N
1439     129008    carvi03   0.112679           0.000000    N
1384     129009    carvi03   0.338193           0.000000    N
1365     129010    carvi03   0.480689           0.000000    N
1295     129011    carvi03   0.744924           0.000000    N
1268     129012    carvi03   0.948785           0.000000    N
1219     129013    carvi03   1.212225           0.000000    N
1192     129014    carvi03   1.476770           0.020784    N
1179     129015    carvi03   1.667876           0.020784    N
1157     129016    carvi03   1.841307           0.020784    N
1128     129017    carvi03   2.061835           0.020784    N
1108     129018    carvi03   2.238129           0.020784    N
1089     129019    carvi03   2.418231           0.020784    N
1078     129020    carvi03   2.569250           0.020784    N
1075     129021    carvi03   2.636657           0.020784    N
1076     129022    carvi03   2.636657           0.020784    N

[1532 rows x 5 columns]

In [99]:
miles[~miles['period_id'].isin(periods['period_id'])]#check if all miles.period_id is in periods.period_id

Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []

In [72]:
miles_periods = pd.merge(periods, miles, how='outer', on='period_id')

In [82]:
print miles_periods.shape
miles_periods.head()
#miles_periods.tail()

(2419, 9)

,period_id,camera_id,mileage_x,collision_mileage_x,open,mile_id,motion_id,mileage_y,collision_mileage_y
0,14,carvi07,0.000000,0.000000,N,102.0,102.0,0.000000,0.0
1,14,carvi07,0.000000,0.000000,N,103.0,103.0,0.000000,0.0
2,39,carvi07,0.734434,0.181271,N,435.0,435.0,0.000000,0.0
3,39,carvi07,0.734434,0.181271,N,436.0,436.0,0.142865,0.0
4,39,carvi07,0.734434,0.181271,N,437.0,437.0,0.144749,0.0

# motions

In [54]:
motions=pd.read_csv("motions.csv").sort_values('motion_id')

In [83]:
print motions.shape
#motions.head()
motions.tail()

(66027, 8)

,motion_id,period_id,time_stamp,speed,bias,front_speed,front_distance,event
9973,78005,129022,2016-05-25 11:47:10,0,0,9,40,4
9972,78006,129022,2016-05-25 11:47:12,0,0,9,40,4
9971,78007,129022,2016-05-25 11:47:13,0,0,9,40,4
9970,78008,129022,2016-05-25 11:47:15,0,0,9,40,4
9969,78009,129022,2016-05-25 11:47:17,0,0,9,40,4

In [29]:
len(motions['period_id'].unique())

1589

In [30]:
motions[~(motions['bias'].isin(range(-5,6,1)))] #check for bias = -5 to 5

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [31]:
motions[~(motions['event'].isin([1,4,5,6,7,100,900]))] # check for event = [1,4,5,6,7,100,900]. 
# Once algorithms for 2 and 3 are implemented, include them in the list

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

# periods and motions merge

In [32]:
periods_motions=pd.merge(periods, motions, how='inner', on='period_id')

In [33]:
len(periods_motions['period_id'].unique())

1589

In [34]:
periods[~periods['period_id'].isin(motions['period_id'])]#check if all periods.period_id is in motions.period_id

      period_id  camera_id  mileage  collision_mileage open
1514        838  carvi9658      0.0                0.0    N
1515        839  carvi9658      0.0                0.0    N
1516        870  carvi9658      0.0                0.0    N
1517        871  carvi9658      0.0                0.0    N
1518        872  carvi9658      0.0                0.0    N
1519        873  carvi9658      0.0                0.0    N
1520        874  carvi9658      0.0                0.0    N
1522        912  carvi9658      0.0                0.0    N
1523        913  carvi9658      0.0                0.0    N
1524        914  carvi9658      0.0                0.0    N
1525        925  carvi9658      0.0                0.0    N
1526        926  carvi9658      0.0                0.0    N
1527        927  carvi9658      0.0                0.0    N
1528        928  carvi9658      0.0                0.0    N
1529        929  carvi9658      0.0                0.0    N

In [35]:
motions[~motions['period_id'].isin(periods['period_id'])]#check if all motions.period_id is in periods.period_id

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

# miles and motions

In [103]:
motions[~motions['period_id'].isin(miles['period_id'])]#check if all motions.period_id is in miles.period_id

,motion_id,period_id,time_stamp,speed,bias,front_speed,front_distance,event
9731,11783,875,2015-09-09 10:48:22,0,0,0,0,1
9730,11784,875,2015-09-09 10:49:22,0,0,0,0,1
65653,12149,930,2015-09-09 19:59:50,35,0,36,68,7
65652,12150,930,2015-09-09 19:59:59,35,0,36,68,7
9729,12151,930,2015-09-09 20:00:04,35,0,36,67,1
65651,12152,930,2015-09-09 20:00:04,35,0,36,67,7
35614,12153,930,2015-09-09 20:00:05,35,0,36,67,4
9728,12154,930,2015-09-09 20:01:04,35,3,36,67,1
35613,12155,930,2015-09-09 20:01:35,35,3,36,67,4
35612,12156,930,2015-09-09 20:01:48,35,3,36,67,4
35611,12157,930,2015-09-09 20:01:59,35,3,36,67,4
9727,12158,930,2015-09-09 20:02:04,35,3,36,67,1
65650,12159,930,2015-09-09 20:02:08,35,3,36,67,7
42375,12160,930,2015-09-09 20:02:12,35,3,35,66,5
9726,12161,930,2015-09-09 20:03:04,35,3,35,58,1
65649,12162,930,2015-09-09 20:03:14,35,3,35,59,7
65648,12163,930,2015-09-09 20:03:17,35,3,35,62,7
65647,12164,930,2015-09-09 20:03:23,35,3,35,64,7
65646,12165,930,2015-09-09 20:03:43,35,3,34,61,7
42374,12166,930,2015-09-09 20:03:48,35,3,34,57,5
35610,12167,930,2015-09-09 20:03:59,35,3,34,53,4
35609,12168,930,2015-09-09 20:04:00,35,3,34,53,4
9725,12169,930,2015-09-09 20:04:04,35,3,34,53,1
65645,12170,930,2015-09-09 20:04:33,35,3,34,60,7
65644,12171,930,2015-09-09 20:04:41,35,3,34,71,7
9724,12172,930,2015-09-09 20:05:04,35,3,34,71,1
42373,12173,930,2015-09-09 20:05:36,35,3,34,66,5
9723,12174,930,2015-09-09 20:06:04,35,3,34,39,1
9722,12175,930,2015-09-09 20:07:04,35,3,34,19,1
35608,12176,930,2015-09-09 20:07:35,35,3,34,16,4
...,...,...,...,...,...,...,...,...
9994,77980,129020,2016-05-25 11:45:38,2,0,8,40,4
9993,77981,129020,2016-05-25 11:45:40,4,0,8,40,4
9992,77982,129020,2016-05-25 11:45:43,3,0,8,40,4
9991,77983,129020,2016-05-25 11:45:44,3,0,8,40,4
42460,77984,129020,2016-05-25 11:45:46,9,0,8,40,6
1,77985,129020,2016-05-25 11:45:46,9,0,8,40,1
42459,77986,129020,2016-05-25 11:45:49,12,0,8,40,6
9990,77987,129020,2016-05-25 11:45:59,6,0,9,40,4
9989,77988,129020,2016-05-25 11:46:03,3,0,9,40,4
9988,77989,129020,2016-05-25 11:46:06,5,0,9,40,4
9987,77990,129021,2016-05-25 11:46:28,0,0,9,40,4
9986,77991,129021,2016-05-25 11:46:32,1,0,9,40,4
9985,77992,129021,2016-05-25 11:46:34,1,0,9,40,4
9984,77993,129021,2016-05-25 11:46:38,0,0,9,40,4
9983,77994,129021,2016-05-25 11:46:40,1,0,9,40,4
9982,77995,129021,2016-05-25 11:46:41,0,0,9,40,4
0,77996,129021,2016-05-25 11:46:46,1,0,9,40,1
9981,77997,129021,2016-05-25 11:46:53,0,0,9,40,4
9980,77998,129021,2016-05-25 11:46:54,0,0,9,40,4
9979,77999,129021,2016-05-25 11:46:56,0,0,9,40,4
9978,78000,129021,2016-05-25 11:46:58,1,0,9,40,4
9977,78001,129021,2016-05-25 11:47:00,0,0,9,40,4
9976,78002,129021,2016-05-25 11:47:05,0,0,9,40,4
9975,78003,129021,2016-05-25 11:47:07,0,0,9,40,4
9974,78004,129022,2016-05-25 11:47:09,0,0,9,40,4
9973,78005,129022,2016-05-25 11:47:10,0,0,9,40,4
9972,78006,129022,2016-05-25 11:47:12,0,0,9,40,4
9971,78007,129022,2016-05-25 11:47:13,0,0,9,40,4
9970,78008,129022,2016-05-25 11:47:15,0,0,9,40,4
9969,78009,129022,2016-05-25 11:47:17,0,0,9,40,4

In [104]:
miles[~miles['period_id'].isin(motions['period_id'])]#check if all miles.period_id is in motions.period_id

Empty DataFrame
Columns: [mile_id, period_id, motion_id, mileage, collision_mileage]
Index: []

In [100]:
miles_motions=pd.merge(miles, motions, how='inner', on=['period_id','motion_id'])

In [102]:
print miles_motions.shape
miles_motions.head()
# miles_motions.tail()

(887, 11)

,mile_id,period_id,motion_id,mileage,collision_mileage,time_stamp,speed,bias,front_speed,front_distance,event
0,102,14,102,0.000000,0.0,2015-08-18 13:51:38,0,0,0,0,100
1,103,14,103,0.000000,0.0,2015-08-18 13:52:09,0,0,0,0,900
2,435,39,435,0.000000,0.0,2015-08-19 09:32:47,0,0,0,0,100
3,436,39,436,0.142865,0.0,2015-08-19 09:33:29,6,0,0,0,6
4,437,39,437,0.144749,0.0,2015-08-19 09:33:30,11,0,0,0,6

# collisions

In [57]:
collisions=pd.read_csv('collisions.csv').sort_values(['motion_id','collision_id'])

In [84]:
print collisions.shape
collisions.head()
#collisions.tail()

(6595, 4)

     collision_id  motion_id  reaction  reduction_speed
183            32        447       1.0                0
184            33        448       1.0                0
185            34        473       1.0                0
186            35        520       1.0                0
187            36        521       1.0                0

In [88]:
collisions[~(collisions['reaction'].isin([1,2,3]))] # check reaction = [1,2,3]

     collision_id  motion_id  reaction  reduction_speed
0            1457      18319       NaN                0
1            1458      18320       NaN                0
2            1461      18327       NaN                0
3            1462      18328       NaN                0
4            1463      18332       NaN                0
5            1464      18333       NaN                0
6            1465      18334       NaN                0
7            1466      18335       NaN                0
8            1467      18337       NaN                0
9            1468      18338       NaN                0
10           1469      18339       NaN                0
11           1471      18353       NaN                0
12           1472      18356       NaN                0
13           1473      18360       NaN                0
14           1474      18361       NaN                0
15           1475      18362       NaN                0
16           1476      18365       NaN                0
17           1477      18366       NaN                0
18           1479      18373       NaN                0
19           1480      18374       NaN                0
20           1481      18376       NaN                0
21           1482      18378       NaN                0
22           1483      18379       NaN                0
23           1484      18380       NaN                0
24           1485      18382       NaN                0
25           1486      18383       NaN                0
26           1489      18387       NaN                0
27           1490      18392       NaN                0
28           1492      18396       NaN                0
29           1493      18397       NaN                0
..            ...        ...       ...              ...
153          1629      18630       NaN                0
154          1630      18631       NaN                0
155          1631      18632       NaN                0
156          1632      18633       NaN                0
157          1633      18634       NaN                0
158          1634      18635       NaN                0
159          1635      18636       NaN                0
160          1636      18637       NaN                0
161          1637      18638       NaN                0
162          1638      18639       NaN                0
163          1639      18641       NaN                0
164          1640      18642       NaN                0
165          1641      18643       NaN                0
166          1642      18644       NaN                0
167          1643      18645       NaN                0
168          1646      18651       NaN                0
169          1647      18652       NaN                0
170          1648      18653       NaN                0
171          1649      18657       NaN                0
172          1650      18658       NaN                0
173          1651      18660       NaN                0
174          1652      18661       NaN                0
175          1655      18665       NaN                0
176          1656      18666       NaN                0
177          1657      18668       NaN                0
178          1658      18669       NaN                0
179          1659      18670       NaN                0
180          1660      18671       NaN                0
181          1661      18673       NaN                0
182          1662      18674       NaN                0

[183 rows x 4 columns]

# departures

In [59]:
departures=pd.read_csv('departures.csv').sort_values(['motion_id', 'departure_id'])

In [85]:
print departures.shape
departures.head()
#departures.tail()

(25896, 5)

   departure_id  motion_id  lane_kind  reaction  direction
0           161        452          1         1        1.0
1           162        474          1         1        1.0
2           163        488          1         1        1.0
3           164        494          1         1        2.0
4           165        502          1         1        2.0

In [89]:
departures[~(departures['lane_kind'].isin([1]))] # check for lane_kind = [1]. 
# Once algorithms for 2 and 3 are implemented, include them in the list

Empty DataFrame
Columns: [departure_id, motion_id, lane_kind, reaction, direction]
Index: []

In [90]:
departures[~(departures['reaction'].isin([1]))] # check for lane_kind = [1]. 
# Once the algorithm for 2 is implemented, include it in the list

Empty DataFrame
Columns: [departure_id, motion_id, lane_kind, reaction, direction]
Index: []

In [91]:
departures[~(departures['direction'].isin([1,2]))] # check for direction = [1,2].

      departure_id  motion_id  lane_kind  reaction  direction
1044          5672      14861          1         1        NaN
2168          6796      17710          1         1        NaN
2176          6804      17735          1         1        NaN
2287          6915      18321          1         1        NaN
2288          6916      18329          1         1        NaN
2289          6917      18342          1         1        NaN
2290          6918      18345          1         1        NaN
2291          6919      18347          1         1        NaN
2292          6920      18350          1         1        NaN
2293          6921      18367          1         1        NaN
2294          6922      18370          1         1        NaN
2298          6926      18388          1         1        NaN
2300          6928      18393          1         1        NaN
2302          6930      18415          1         1        NaN
2304          6932      18426          1         1        NaN
2305          6933      18432          1         1        NaN
2306          6934      18435          1         1        NaN
2307          6935      18438          1         1        NaN
2310          6938      18461          1         1        NaN
2311          6939      18464          1         1        NaN
2312          6940      18473          1         1        NaN
2314          6942      18487          1         1        NaN
2316          6944      18502          1         1        NaN
2317          6945      18508          1         1        NaN
2331          6959      18582          1         1        NaN
2332          6960      18584          1         1        NaN
2381          7009      18907          1         1        NaN
2534          7162      19391          1         1        NaN
4721          9349      25453          1         1        NaN
5381         10009      28591          1         1        NaN

# fronts

In [48]:
fronts=pd.read_csv('fronts.csv').sort_values(['motion_id','front_id'])

In [86]:
print fronts.shape
fronts.head()
#fronts.tail()

(22417, 4)

     front_id  motion_id  situation  front_reduction_speed
208       467       9740        NaN                     15
209       468       9741        NaN                     17
210       469       9744        NaN                     16
211       470       9745        NaN                     16
212       471       9746        NaN                     16

In [93]:
fronts[~(fronts['situation'].isin([1,2]))] # check for situation = [1]. 
# Once the algorithm for 2 is implemented, include it in the list

       front_id  motion_id  situation  front_reduction_speed
208         467       9740        NaN                     15
209         468       9741        NaN                     17
210         469       9744        NaN                     16
211         470       9745        NaN                     16
212         471       9746        NaN                     16
213         472       9751        NaN                     15
214         473       9764        NaN                     16
215         474       9768        NaN                     26
216         475       9769        NaN                     24
217         476       9770        NaN                     23
218         477       9820        NaN                     19
219         478       9822        NaN                     33
220         479       9825        NaN                     15
221         480       9827        NaN                     25
222         481       9828        NaN                     23
223         482       9829        NaN                     16
224         483       9830        NaN                     15
225         484       9831        NaN                     22
226         485       9834        NaN                     23
227         486       9843        NaN                     18
228         487       9853        NaN                     21
229         488       9878        NaN                     27
230         489       9887        NaN                     15
231         490       9910        NaN                     21
232         491       9912        NaN                     50
233         492       9913        NaN                     21
234         493       9914        NaN                     50
235         494       9915        NaN                     18
236         495       9932        NaN                     26
237         794      12149        NaN                     29
...         ...        ...        ...                    ...
22387     23220      76613        NaN                     20
22388     23221      76623        NaN                     25
22389     23222      76635        NaN                     16
22390     23223      76636        NaN                     26
22391     23224      76637        NaN                     36
22392     23225      76650        NaN                     17
22393     23226      76651        NaN                     16
22394     23227      76656        NaN                     15
22395     23228      76664        NaN                     16
22396     23229      76666        NaN                     36
22397     23230      76669        NaN                     15
22398     23231      76670        NaN                     16
22399     23232      76671        NaN                     17
22400     23233      76674        NaN                     16
22401     23234      76679        NaN                     35
22402     23235      76680        NaN                     15
22403     23236      76698        NaN                     16
22404     23237      76717        NaN                     16
22405     23238      76720        NaN                     15
22406     23239      76726        NaN                     15
22407     23240      76742        NaN                     15
22408     23241      76744        NaN                     40
22409     23242      76749        NaN                     18
22410     23243      76753        NaN                     17
22411     23244      76754        NaN                     21
22412     23245      76756        NaN                     15
22413     23246      76758        NaN                     15
22414     23247      76759        NaN                     17
22415     23248      76762        NaN                     15
22416     23249      76766        NaN                     15

[22209 rows x 4 columns]

# suddens

In [61]:
suddens=pd.read_csv('suddens.csv').sort_values(['motion_id', 'sudden_id'])

In [87]:
print suddens.shape
suddens.head()
#suddens.tail()

(807, 4)

     sudden_id  motion_id  situation  front_reason
545         50        436        3.0             0
592         51        437        3.0             0
580         52        438        3.0             0
579         53        439        3.0             0
578         54        440        3.0             0

In [95]:
suddens[~(suddens['situation'].isin([1,3]))]# check for situation = [1,3]. 
# Once the algorithm for 2 is implemented, include it in the list

    sudden_id  motion_id  situation  front_reason
48         62        453        NaN             0
18         98        515        NaN             0
30        127        558        NaN             0
57        202        725        NaN             0
58        203        726        NaN             0
49        219       5378        NaN             0
46        225       7168        NaN             0
53        558       9534        NaN             0
55        604      13348        NaN             0
54        613      13372        NaN             0
50        621      13455        NaN             0
43        626      13481        NaN             0
59        653      14300        NaN             0
61        655      14305        NaN             0
0         661      14316        NaN             1
20        675      14375        NaN             0
13        705      14512        NaN             0
36        722      15367        NaN             0
7         755      15471        NaN             1
31        761      15500        NaN             0
32        763      15503        NaN             0
15        781      15625        NaN             0
16        782      15633        NaN             0
19        786      15642        NaN             0
6         804      15753        NaN             1
3         861      17950        NaN             1
47        867      17961        NaN             0
56        884      18012        NaN             0
45        888      18016        NaN             0
44        889      18017        NaN             0
..        ...        ...        ...           ...
14        944      18159        NaN             0
23        948      18172        NaN             0
37        949      18173        NaN             0
27        970      18739        NaN             0
38        978      18786        NaN             0
24        979      18787        NaN             0
25        980      18789        NaN             0
26        981      18790        NaN             0
28        982      18791        NaN             0
35        989      18826        NaN             0
22        997      18917        NaN             0
11        999      18925        NaN             0
21       1013      18966        NaN             0
51       1073      19340        NaN             0
52       1074      19342        NaN             0
60       1090      19658        NaN             0
12       1122      19740        NaN             0
29       1148      19984        NaN             0
8        1159      20019        NaN             1
33       1165      20029        NaN             0
34       1166      20030        NaN             0
2        1171      20041        NaN             1
17       1178      20061        NaN             0
5        1184      77202        NaN             1
9        1187      77294        NaN             1
39       1188      77295        NaN             0
62       1198      77475        NaN             0
41       1200      77612        NaN             0
4        1204      77818        NaN             1
1        1205      77822        NaN             1

[64 rows x 4 columns]

In [97]:
suddens[~(suddens['front_reason'].isin([0,1]))]# check for front_reason = [0,1]

Empty DataFrame
Columns: [sudden_id, motion_id, situation, front_reason]
Index: []

# motions and collisions

In [150]:
motions[motions['event']==5][motions[motions['event']==5]["motion_id"].isin(~collisions['motion_id'])]
# return rows where motion.event=5 is not in collisions table

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [105]:
collisions[~collisions['motion_id'].isin(motions['motion_id'])]#check if all collisions.motion_id is in motions.motion_id

Empty DataFrame
Columns: [collision_id, motion_id, reaction, reduction_speed]
Index: []

# motions and departures

In [152]:
motions[motions['event']==4][motions[motions['event']==4]["motion_id"].isin(~departures['motion_id'])]
# return rows where motion.event=4 is not in departures table

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [106]:
departures[~departures['motion_id'].isin(motions['motion_id'])]#check if all departures.motion_id is in motions.motion_id

Empty DataFrame
Columns: [departure_id, motion_id, lane_kind, reaction, direction]
Index: []

# motions and fronts

In [153]:
motions[motions['event']==7][motions[motions['event']==7]["motion_id"].isin(~fronts['motion_id'])]
# return rows where motion.event=7 is not in fronts table

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [107]:
fronts[~fronts['motion_id'].isin(motions['motion_id'])]#check if all fronts.motion_id is in motions.motion_id

Empty DataFrame
Columns: [front_id, motion_id, situation, front_reduction_speed]
Index: []

# motions and suddens

In [154]:
motions[motions['event']==6][motions[motions['event']==6]["motion_id"].isin(~suddens['motion_id'])]
# return rows where motion.event=6 is not in suddens table

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [108]:
suddens[~suddens['motion_id'].isin(motions['motion_id'])]#check if all suddens.motion_id is in motions.motion_id

Empty DataFrame
Columns: [sudden_id, motion_id, situation, front_reason]
Index: []