In [42]:
pwd

u'/Users/AmyCarVi/Google Drive/CarviCSV'

In [41]:
cd /Users/AmyCarVi/Google Drive/CarviCSV

/Users/AmyCarVi/Google Drive/CarviCSV

In [132]:
ls

Icon?           departures.csv  miles.csv       periods.csv
collisions.csv  fronts.csv      motions.csv     suddens.csv

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# periods

In [85]:
periods=pd.read_csv('periods.csv')
periods=periods.sort("period_id")

/Users/AmyCarVi/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [86]:
print periods.head(2)
print periods.tail(2)

      period_id camera_id   mileage  collision_mileage open
1491         14   carvi07  0.000000           0.000000    N
1298         39   carvi07  0.734434           0.181271    N
      period_id camera_id   mileage  collision_mileage open
1075     129021   carvi03  2.636657           0.020784    N
1076     129022   carvi03  2.636657           0.020784    N

In [46]:
# periods.loc[len(periods)]=[128950, "carvi03", 0.5, 0.3, "N"]

In [87]:
periods[periods.duplicated(subset="period_id",keep=False)]#return rows where there are duplicate period_id

Empty DataFrame
Columns: [period_id, camera_id, mileage, collision_mileage, open]
Index: []

In [88]:
# len(periods["period_id"]) == len(periods["period_id"].unique()) #unique period_id should be equal to len of rows

In [89]:
periods[~(periods["mileage"] >= periods["collision_mileage"])] #check if mileage >= collision_milleage, return rows where false

      period_id camera_id  mileage  collision_mileage open
1487       3209   ARTIK10      0.0           0.042955    N
1490       3223   ARTIK10      0.0           0.003402    N
1488       3224   ARTIK10      0.0           0.023092    N
1489       3244   ARTIK10      0.0           0.009153    N

# miles + periods join, will come back to it

miles= pd.read_csv('/Users/AmyCarVi/Google Drive/miles.csv')
miles=miles.sort_values('period_id')

print miles.head()
print miles.tail()

miles_periods = pd.merge(periods, miles, how='outer', on='period_id')
miles_periods.head()

miles_periods_inner = pd.merge(periods, miles, how='inner', on='period_id')
print len(miles_periods_inner)
miles_periods_outer = pd.merge(periods, miles, how='outer', on='period_id')
print len(miles_periods_outer)

print len(miles)
print len(periods)

print len(periods['period_id'].unique())
print len(miles['period_id'].unique())

In [65]:
len(periods[periods['collision_mileage']==0])

208

In [67]:
len(miles[miles['collision_mileage']==0])

184

# motions

In [92]:
motions=pd.read_csv("motions.csv")
motions=motions.sort_values('motion_id')

In [106]:
motions.shape

(66027, 8)

In [113]:
#motions.head()
motions.tail()

,motion_id,period_id,time_stamp,speed,bias,front_speed,front_distance,event
9973,78005,129022,2016-05-25 11:47:10,0,0,9,40,4
9972,78006,129022,2016-05-25 11:47:12,0,0,9,40,4
9971,78007,129022,2016-05-25 11:47:13,0,0,9,40,4
9970,78008,129022,2016-05-25 11:47:15,0,0,9,40,4
9969,78009,129022,2016-05-25 11:47:17,0,0,9,40,4

In [95]:
len(motions['period_id'].unique())

1589

In [125]:
motions[~(motions['bias'].isin(range(-5,6,1)))] #check for bias = -5 to 5

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

In [129]:
motions[~(motions['event'].isin([1,2,3,4,5,6,7,100,900]))] # check for event = [1,2,3,4,5,6,7,100,900]

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

# periods and motions merge

In [98]:
periods_motions=pd.merge(periods, motions, how='inner', on='period_id')

In [100]:
len(periods_motions['period_id'].unique())

1589

In [105]:
periods[~periods['period_id'].isin(motions['period_id'])]#check if all periods.period_id is in motions.period_id

      period_id  camera_id  mileage  collision_mileage open
1514        838  carvi9658      0.0                0.0    N
1515        839  carvi9658      0.0                0.0    N
1516        870  carvi9658      0.0                0.0    N
1517        871  carvi9658      0.0                0.0    N
1518        872  carvi9658      0.0                0.0    N
1519        873  carvi9658      0.0                0.0    N
1520        874  carvi9658      0.0                0.0    N
1522        912  carvi9658      0.0                0.0    N
1523        913  carvi9658      0.0                0.0    N
1524        914  carvi9658      0.0                0.0    N
1525        925  carvi9658      0.0                0.0    N
1526        926  carvi9658      0.0                0.0    N
1527        927  carvi9658      0.0                0.0    N
1528        928  carvi9658      0.0                0.0    N
1529        929  carvi9658      0.0                0.0    N

In [130]:
motions[~motions['period_id'].isin(periods['period_id'])]#check if all motions.period_id is in periods.period_id

Empty DataFrame
Columns: [motion_id, period_id, time_stamp, speed, bias, front_speed, front_distance, event]
Index: []

# motions and collsions merge

In [133]:
collisions=pd.read_csv('collisions.csv')

In [136]:
print collisions.head()
print collisions.tail()

   collision_id  motion_id  reaction  reduction_speed
0          1457      18319       NaN                0
1          1458      18320       NaN                0
2          1461      18327       NaN                0
3          1462      18328       NaN                0
4          1463      18332       NaN                0
      collision_id  motion_id  reaction  reduction_speed
6590          7554      77279       3.0                0
6591          7555      77292       3.0                0
6592          7565      77590       3.0                0
6593          7568      77708       3.0                0
6594          7571      77883       3.0                0